3_DSI/S1/SOA/AnyPointStudio/.tooling/esb_project16b44966-8fc9-4bb3-bbe0-8fcf4564527a/esb_project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="de0d8bd7-71e0-44f2-a18f-d5c0d119e3b5" >
		<http:listener-connection host="localhost" port="9696" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="5fa4ce7c-5031-47ab-8c8f-97a5ff5ba12c" basePath="/v3.1" >
		<http:request-connection protocol="HTTPS" host="restcountries.com" />
	</http:request-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="eea43304-0a86-4669-995d-f3f000b7eab1" >
		<wsc:connection soapVersion="SOAP12" wsdlLocation="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso?WSDL" service="CountryInfoService" port="CountryInfoServiceSoap12" address="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso" />
	</wsc:config>
	<flow name="esb_projectFlow2" doc:id="7214fb4a-28fa-4f58-8b78-19db4a8a8a9a" >
		<http:listener doc:name="Listener" doc:id="67d55def-f34b-44f5-9a42-4ed85a3df9b5" config-ref="HTTP_Listener_config" path="/countriesSoap"/>
		<wsc:consume operation="" doc:name="Consume" doc:id="075fc6ed-96ed-4cc0-95df-4eedf25dc6d8" />
	</flow>
	<flow name="esb_projectFlow" doc:id="6278a29f-d599-4635-a170-d4303c69d115" >
		<http:listener doc:name="Listener" doc:id="8b8aa584-6bbe-4081-afd3-33af0e18c58e" config-ref="HTTP_Listener_config" path="/countries"/>
		<http:request method="GET" doc:name="Request" doc:id="b3197764-3dd8-4ec9-8e52-17ebd267aefc" config-ref="HTTP_Request_configuration" path="/all"/>
	</flow>
	<flow name="esb_projectFlow1" doc:id="ed8bd5f5-af9c-47a4-87bb-1be0f05ebe31" >
		<http:listener doc:name="Listener" doc:id="3b53044c-2da5-4d8b-a25b-14ebd09fb44e" config-ref="HTTP_Listener_config" path="/countries/{pays}"/>
		<set-variable value="#[attributes.uriParams.pays]" doc:name="Set Variable" doc:id="d307d925-d21a-46c0-8816-cf16f6584611" variableName="countryName"/>
		<http:request method="GET" doc:name="Request" doc:id="918ca221-7c6c-4718-9309-6c3a6c6253ba" config-ref="HTTP_Request_configuration" path="#['/name/' ++ vars.countryName]"/>
	</flow>
</mule>
