3_DSI/S1/SOA/AnyPointStudio/projectmanagement_mule/src/main/mule/projectmanagement_mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<http:listener-config name="WS" doc:name="HTTP Listener config" doc:id="5f9aebef-5c60-4fb0-bfa7-786e0ab55c0e">
		<http:listener-connection host="localhost" port="9090" />
	</http:listener-config>
	<http:request-config name="WS1" doc:name="HTTP Request configuration" doc:id="6a8b99d7-7373-4879-a8bc-be401d93ea9b" basePath="/projects">
		<http:request-connection host="localhost" port="8088" />
	</http:request-config>
	<wsc:config name="WS2" doc:name="Web Service Consumer Config" doc:id="4a49f371-11ac-4598-a9a3-ae45bec28daa" >
		<wsc:connection soapVersion="SOAP12" wsdlLocation="http://localhost:56446/Service.svc?singleWsdl" service="MemberService" port="BasicHttpBinding_IMemberService" address="http://localhost:56446/Service.svc" />
	</wsc:config>
	<http:request-config name="WS4" doc:name="HTTP Request configuration" doc:id="7a21a262-bfa9-41f5-8c2f-fba521b63e9f" basePath="/calendar" >
		<http:request-connection host="localhost" port="4000" />
	</http:request-config>
	<wsc:config name="WS3" doc:name="Web Service Consumer Config" doc:id="3c2ee56b-0181-4dee-bea9-8fc1c3678f01" >
		<wsc:connection wsdlLocation="http://localhost:3000/ProjectService?wsdl" soapVersion="SOAP12" service="ProjectService" port="ProjectPortBinding" address="http://localhost:3000/ProjectService">
		</wsc:connection>
	</wsc:config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="41f497be-0515-4dc5-ad49-96ce85aaf642" >
		<jms:active-mq-connection />
	</jms:config>
	<flow name="WS1_GetProjects_(REST)" doc:id="9d091878-93fc-4b52-9f57-04cbf34efa5d" >
		<http:listener doc:name="Listener" doc:id="b11e7cfc-6d69-4425-9839-679981c556f2" config-ref="WS" path="/projects"/>
		<http:request method="GET" doc:name="Request" doc:id="bfa1df38-d766-4adf-8372-a789d7c9cf67" path="/" config-ref="WS1"/>
	</flow>
	<flow name="WS1_GetProjectByID_(REST)" doc:id="912aae32-9f7e-4401-8351-4ccd465b69a9">
		<http:listener doc:name="Listener" doc:id="deef096f-f7fa-4e2b-8779-dcbba01f223f" config-ref="WS" path="/projects/{id}" />
		<set-variable value="#[attributes.uriParams.id]" doc:name="ID" doc:id="712b300d-496b-4e5a-95b1-9d1e8e776d12" variableName="ProjectId" />
		<http:request method="GET" doc:name="Request" doc:id="b7814da0-bed0-422f-840b-6f44c353e322" config-ref="WS1" path="#['/' ++ vars.ProjectId]" />
	</flow>
	<flow name="WS2_AssignMemberToTeam_(SOAP)" doc:id="7b38201b-1ed0-4d80-ae4b-b8e598e08cc3" >
		<http:listener doc:name="Listener" doc:id="49e35a0a-a874-40c4-9d0b-bd135f2bb944" config-ref="WS" path="/AssignMemberToTeam?TeamID={TeamID}&amp;MemberID={MemberID}" allowedMethods="POST"/>
		<set-variable value="#[attributes.queryParams.TeamID]" doc:name="Set Variable" doc:id="5db81713-98ac-4a02-b0ce-da62c3013bab" variableName="Team"/>
		<set-variable value="#[attributes.queryParams.MemberID]" doc:name="Set Variable" doc:id="1c616b7c-cc9d-4d95-a048-7a5691fa2a14" variableName="Member"/>
		<ee:transform doc:name="Transform Message" doc:id="071cba78-7e84-429c-985a-ebe6bc7df90b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#AssignMemberToTeam: {
		ns0#memberId: vars.Member as Number,
		ns0#teamId: vars.Team as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="6fcca493-cf8c-4d42-83ec-d0ed1dc48ffa" operation="AssignMemberToTeam" config-ref="WS2"/>
		<ee:transform doc:name="Transform Message" doc:id="22612413-faff-4129-95d1-be978247de2e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<jms:publish doc:name="Publish" doc:id="8aef4d20-ad13-40dc-9136-5d0c0ba0ffe9" config-ref="JMS_Config" destination="test"/>
	</flow>
	<flow name="WS3_AssignTeamToProject(Soap)" doc:id="2a373b5d-8dcd-4558-9e98-728be0057e13" >
		<http:listener doc:name="Listener" doc:id="34534397-4161-4196-8f37-ccc74e81df1b" config-ref="WS" path="/AssignTeamToProject?TeamID={TeamID}&amp;ProjectID={ProjectID}"/>
		<set-variable value="#[attributes.queryParams.TeamID]" doc:name="Set Variable" doc:id="2b4cc7f2-327c-4bf4-b1af-fc9377ac6667" variableName="Team"/>
		<set-variable value="#[attributes.queryParams.ProjectID]" doc:name="Set Variable" doc:id="040fe7ca-7b88-4992-b75e-03a20754d505" variableName="Project"/>
		<ee:transform doc:name="Transform Message" doc:id="54bde9f5-6cbf-46cf-be92-2aedcccdf606" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="4339b782-3675-4ba8-9161-b7cb2e1219a4" config-ref="WS3" operation="AssignMemberToTeam"/>
		<ee:transform doc:name="Transform Message" doc:id="15d824f4-3159-45b7-afd4-ce47f2a56581" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="WS4_GetCalendar(Rest)" doc:id="66c5bbb8-c1a3-47f6-970f-5ebb47811c8d" >
		<http:listener doc:name="Listener" doc:id="6ab83837-27db-4b02-b6c5-20f47bd30dd5" config-ref="WS" path="/calendar"/>
		<http:request method="GET" doc:name="Request" doc:id="0c2300c8-87dc-4a38-885a-ec1045480a09" config-ref="WS4" path="/"/>
	</flow>
	<flow name="WS4_GetCalendarById(Rest)" doc:id="672a01e7-0586-4d6e-8651-12d8387661df" >
		<http:listener doc:name="Listener" doc:id="f19e0310-f371-4763-a574-89370717ebeb" config-ref="WS" path="/calendar/{id}"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="39c1541c-c234-474d-ba30-f38173ec79fe" variableName="calendarId"/>
		<http:request method="GET" doc:name="Request" doc:id="3c482af2-06f5-4a66-8384-985657490a4f" config-ref="WS4" path="#['/' ++ vars.calendarId]" outputMimeType="application/json"/>
	</flow>
	<flow name="WS4_AddCalendar(Rest)" doc:id="50aa269b-2cf0-44d1-b866-96ea130688d0" >
		<http:listener doc:name="Listener" doc:id="a011b2f2-f2ee-41f1-b6f2-9091bb6bd911" config-ref="WS" path="/calendar" allowedMethods="POST"/>
		<http:request method="POST" doc:name="Request" doc:id="0b154024-6e43-43ec-9a20-cfb1abba8d85" config-ref="WS4" path="/" outputMimeType="application/json" followRedirects="true" sendBodyMode="ALWAYS"/>
	</flow>
	<flow name="WS4_UpadetCalander(Rest)" doc:id="9c9d1a41-9745-4653-8a31-eb138e0b70d0" >
		<http:listener doc:name="Listener" doc:id="65457bb9-0cdb-4942-b1e5-6c1fc6a6af72" config-ref="WS" path="/calendar/{id}" allowedMethods="PUT"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="db8ad148-ad1f-4b24-b67c-0ef81c9d542a" variableName="calendarId"/>
		<http:request method="PUT" doc:name="Request" doc:id="2b4769c3-3679-40de-aa64-3bbb51e6a31c" config-ref="WS4" path="#['/' ++ vars.calendarId]" outputMimeType="application/json" followRedirects="true" sendBodyMode="ALWAYS"/>
	</flow>
	<flow name="WS4_DeleteCalander(Rest)" doc:id="403ed45b-3205-41ef-a2c4-c86fa4e2664f" >
		<http:listener doc:name="Listener" doc:id="70cb76e1-083e-4fe3-b542-2de6e268b39d" config-ref="WS" path="/calendar/{id}" allowedMethods="DELETE"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="c8cceaae-261b-48c3-bc3f-e4bf901e6663" variableName="calendarId"/>
		<http:request method="DELETE" doc:name="Request" doc:id="a1af1f3a-01d6-4e76-ab34-795e68a5d195" config-ref="WS4" path="#['/' ++ vars.calendarId]" sendBodyMode="NEVER" outputMimeType="application/json"/>
	</flow>
</mule>
