3_DSI/S1/SOA/AnyPointStudio/.tooling/projectmanagement_mule6ec435e0-3676-4ace-be10-32e218ab02de/projectmanagement_mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="WS" doc:name="HTTP Listener config" doc:id="5f9aebef-5c60-4fb0-bfa7-786e0ab55c0e">
		<http:listener-connection host="localhost" port="9090" />
	</http:listener-config>
	<http:request-config name="WS1" doc:name="HTTP Request configuration" doc:id="6a8b99d7-7373-4879-a8bc-be401d93ea9b" basePath="/projects">
		<http:request-connection host="localhost" port="8088" />
	</http:request-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="4a49f371-11ac-4598-a9a3-ae45bec28daa" >
		<wsc:connection soapVersion="SOAP12" wsdlLocation="http://localhost:56446/Service.svc?singleWsdl" service="MemberService" port="BasicHttpBinding_IMemberService" address="http://localhost:56446/Service.svc" />
	</wsc:config>
	<flow name="WS1_GetProjects_(REST)" doc:id="9d091878-93fc-4b52-9f57-04cbf34efa5d" >
		<http:listener doc:name="Listener" doc:id="b11e7cfc-6d69-4425-9839-679981c556f2" config-ref="WS" path="/projects"/>
		<http:request method="GET" doc:name="Request" doc:id="bfa1df38-d766-4adf-8372-a789d7c9cf67" path="/" config-ref="WS1"/>
	</flow>
	<flow name="WS1_GetProjectByID_(REST)" doc:id="912aae32-9f7e-4401-8351-4ccd465b69a9">
		<http:listener doc:name="Listener" doc:id="deef096f-f7fa-4e2b-8779-dcbba01f223f" config-ref="WS" path="/projects/{id}" />
		<set-variable value="#[attributes.uriParams.id]" doc:name="ID" doc:id="712b300d-496b-4e5a-95b1-9d1e8e776d12" variableName="ProjectId" />
		<http:request method="GET" doc:name="Request" doc:id="b7814da0-bed0-422f-840b-6f44c353e322" config-ref="WS1" path="#['/' ++ vars.ProjectId]" />
	</flow>
	<flow name="WS2_AssignMemberToTea_(SOAP)" doc:id="7b38201b-1ed0-4d80-ae4b-b8e598e08cc3" >
		<http:listener doc:name="Listener" doc:id="49e35a0a-a874-40c4-9d0b-bd135f2bb944" config-ref="WS" path="/AssignMemberToTeam"/>
		<wsc:consume operation="" doc:name="Consume" doc:id="7a7f93dd-3860-4686-8b4d-aaa68a9a6573" />
		<ee:transform doc:name="Transform Message" doc:id="071cba78-7e84-429c-985a-ebe6bc7df90b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
